@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

*, *:after {
	box-sizing: border-box;
	font-family: 'Lobster Two', cursive;
}

html, body {
	padding: 0;
	margin: 0;
	background-color: #00718b;

	background: #003e4e;
	background: -moz-linear-gradient(top, #003e4e 0%, #00718b 100%);
	background: -webkit-linear-gradient(top, #003e4e 0%,#00718b 100%);
	background: linear-gradient(to bottom, #003e4e 0%,#00718b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003e4e', endColorstr='#00718b',GradientType=0 );
}

header {
	height: 95px;
	background-repeat: repeat-x;
	background: url(images/menu.png);

}
header img {
	margin: 5px;
}

nav {
	margin: 0 auto;
	height: 55px;
}

nav ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: block;
}

nav img {
	position: absolute;
	top: 2px;
	left: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: block;
	color: #FFF;
	padding: 15px;
	font-size: 26px;
	text-decoration: none;
}

nav ul li a:hover {
	border-bottom: 3px solid #FFFFFF;
}

.active {
	color: #333;
	text-shadow: none;
}

section.hero {
	width: 100%;
	margin-top: 55px;
	height: 500px;
	position: relative;

}


section.content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.block1 {
	color: #000;
	padding: 20px;
	background-color: #F7ECD6;
	border-radius: 5px;
	font-size: 18px;
}

.block1 form {
	max-width: 500px;
	margin: 0 auto;
}

.block2 {
	color: #000;
	float: left;
	width: 48%;
	margin: 1%;
	padding: 20px;
	background-color: #F7ECD6;
	border-radius: 5px;
	font-size: 18px;
}

.block2:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

#stars {
	position: fixed;
	top: 0;
	width: 100%;
	background: url(images/stars.png);
}

#moon {
	background-color: #F3EAD5;
	bottom: 0px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width:400px;
	height:400px;
	border-radius:400px;
}

#ship {
	position: fixed;
	bottom: 25%;
	left: 100px;
	transition: all .5s;
	transform: rotate(-5deg);
	background: url(images/ship.png);
}

#ship:hover {
	transform: rotate(5deg);
}

#water {
	position: absolute;
	bottom: 0;
	right: 0px;
	min-width: 100%;
	height: 205px;
	background: url(images/water.png);
}

footer {
	width: 100%;
}

footer img {
	width: 100%;
}

label {
	float: left;
	padding: 5px 0;
}

.inputholder {
	padding-left: 200px;
	margin-bottom: 10px;
}

input, select {
	width: 100%;
	padding: 5px;
	appearance: none;
}

button {
	background-color: #00718b;
	padding: 7px;
	border-radius: 30px;
}
